<!DOCTYPE html>
{% extends 'pcard/base.html' %}
{% block content%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>verify</title>
</head>
<style>

img {
  border-radius: 8px;
}
</style>
<body>
<section class="team" id="team">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <br>
            <h2>API RESPONSE</h2>
            <p>DETAILS FROM VOTER ID API</p>
        </header>

        <div align-items-stretchclass="col-lg-8 entries>

                    <div class=" col-lg-3 col-md-6 d-flex
        " data-aos="fade-up" data-aos-delay="100" >
        <div class="member">
            <div class="">
                <img alt="Person" alt="" class="img-fluid" src="/media/Face2.jpg">
            </div>
            <div class="member-info">


                {% for response in alldata %}


                <h4> {{ response.votername}} </h4>

                <p><b> Father Name : {{ response.voterfname}} </b></p>

                <p><b> Date of Birth : {{ response.voterid}} </b></p>


                {% endfor %}

            </div>

        </div>
    </div>
</section>

</body>

</html>
{% endblock %}


